{% load staticfiles %}

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h2>
                    ABOUT ME.
                </h2>
            </div>
            <div class="col-md-7 col-sm-7">
                <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                    <p>
                        안녕하세요. 저는 Java 개발자로 시작하였다가 2년 정도 C언어를 이용해 Embedded 개발자로 경력을 쌓았습니다.
                        지금은 Python를 공부하면서 Django 프레임워크를 이용해 개발 공부를 계속 하고 있고, 앞으로 이 방향으로 커리어를 쌓으려고 합니다.
                    </p>
                    <p>
                        개발해가는 과정을 좋아합니다. (물론 아직 부족한 점은 많아요.) 무엇인가를 만들어야 하는 목표를 위해 치열하게 얘기하고,
                        끙끙 앓아가며 개발하고, 제가 만든 버그를 만나면 한없이 부끄러워하고, 그래도 뭔가 만들어져 가는 걸 보면 또 괜히 설레입니다. (개발이 밀당을 잘하나봅니다.)
                    </p>
                </div>

            </div>
            <div class="col-md-5 col-sm-5">
                <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                    <img src="{% static 'images/about/me.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
