{% load staticfiles %}

<section id="about">

    <div class="container">

        <div class="row">
            <div class="col-sm-4 col-sm-offset-1 scrollimation fade-right">
                <img class="img-responsive img-circle img-center"
                     src="{{ about.profile_img_url }}" alt="my profile image">
            </div>
            <div class="col-sm-6 col-sm-offset-1 scrollimation fade-left">
                <h1>{{ about.hello }}</h1>
                <blockquote>
                    <p><font size="4">{{ about.intro_before }}<br><br>{{ about.intro_now }}</font></p>
                </blockquote>
                <p>
                    <font size="3">{{ about.hire_me }}</font><br>
                    <a href="{{ about.resume_url }}" class="btn btn-theme transparent col-xs-12 col-sm-12 col-md-8" download="resume">Download My Resume</a>
                </p>

            </div>
        </div><!--End row -->

    </div><!--End container -->

</section><!--End about section -->