{% load staticfiles %}

<section id="education">
    <div class="container">
        <h1 class="section-title scrollimation scale-in">The <span>Services</span> I offer<i class="fa fa-wrench"></i></h1>

        <div class="row services scrollimation fade-left">
            <div class="col-md-3 text-center">
                <a href="#service" class="icon"><i class="fa fa-flag"></i></a>
                <h2>Branding</h2>
            </div>
            <div class="col-md-3 details">
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-3 text-center">
                <a href="#service" class="icon"><i class="fa fa-code"></i></a>
                <h2>Development</h2>
            </div>
            <div class="col-md-3 details">
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
        </div><!--End row (top) -->

        <div class="row line visible-md visible-lg">
            <div class="col-md-3"><span class="spot"></span></div>
            <div class="col-md-3"><span class="spot"></span></div>
            <div class="col-md-3"><span class="spot"></span></div>
            <div class="col-md-3"><span class="spot"></span></div>
        </div><!--End row -->

        <div class="row services bottom-row scrollimation fade-right">
            <div class="col-md-3 text-center col-md-push-3">
                <h2>Design</h2>
                <a href="#service" class="icon"><i class="fa fa-pencil"></i></a>
            </div>
            <div class="col-md-3 details col-md-pull-3">
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-3 text-center  col-md-push-3">
                <h2>Rocket Science</h2>
                <a href="#service" class="icon"><i class="fa fa-rocket"></i></a>
            </div>
            <div class="col-md-3 details  col-md-pull-3">
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
        </div><!--End row (bottom)-->
    </div><!--End container -->
</section><!--End services section-->