{% load staticfiles %}

{# 페이지별 설정이 필요한 경우 사용한다. #}
{% block page_css %}
{% endblock page_css %}

{% block page_style %}
{% endblock page_style %}

<section id="services">
    <div class="container" style="width: 90vw;">
        <h1 class="section-title scrollimation scale-in" >I've worked <span> Companies</span><i class="fa fa-wrench"></i></h1>

        <div class="row services scrollimation fade-left">
            <!-- 여기는 count가 홀수인건만 -->
            <div class="col-md-2 text-center">
                <a href="#service" class="icon"><i class="fa fa-university"></i></a>
                <h2>MyungJi</h2>
            </div>
            <div class="col-md-2 details">
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-2 text-center">
                <a href="#service" class="icon"><i class="fa fa-code"></i></a>
                <h2>Development</h2>
            </div>
            <div class="col-md-2 details">
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-2 text-center">
                <a href="#service" class="icon"><i class="fa fa-code"></i></a>
                <h2>Development</h2>
            </div>
            <div class="col-md-2 details">
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
        </div><!--End row (top) -->

        <div class="row line visible-md visible-lg">
            <div class="col-md-2"><span class="spot"></span></div>
            <div class="col-md-2"><span class="spot"></span></div>
            <div class="col-md-2"><span class="spot"></span></div>
            <div class="col-md-2"><span class="spot"></span></div>
            <div class="col-md-2"><span class="spot"></span></div>
            <div class="col-md-2"><span class="spot"></span></div>
        </div><!--End row -->

        <div class="row services bottom-row scrollimation fade-right">
            <!-- 여기는 count가 짝수인건만 -->
            <div class="col-md-2 text-center col-md-push-2">
                <h2>Design</h2>
                <a href="#service" class="icon"><i class="fa fa-smile-o"></i></a>
            </div>
            <div class="col-md-2 details col-md-pull-2">
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-2 text-center col-md-push-2">
                <h2>Rocket Science</h2>
                <a href="#service" class="icon"><i class="fa fa-television"></i></a>
            </div>
            <div class="col-md-2 details col-md-pull-2">
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-2 text-center col-md-push-2">
                <h2>Rocket Science</h2>
                <a href="#service" class="icon"><i class="fa fa-question"></i></a>
            </div>
            <div class="col-md-2 details col-md-pull-2">
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
        </div><!--End row (bottom)-->
    </div><!--End container -->

</section><!-- End portfolio section -->