{% extends 'ame_common/base.html' %}

{% load staticfiles %}

{% block main_content %}

    <section id="home" class="jumbotron">
        <div class="container">
            <div class="message-box clearfix">
                <div class="left-col">
                    <p>안녕하세요.<br>저는 <span>허 윤</span> 입니다.<br/>그리고 저는</p>
                </div>
                <div class="right-col flexslider home-slider" style="z-index:1;">
                    <ul class="slides">
                        <li class="col-xs-12 col-sm-12 col-md-12"><p>좋은 개발자<font size="3">(되고 싶어요.)</font></p></li>
                        <li class="col-xs-12 col-sm-12 col-md-12"><p>좋은 동료<font size="3">(되고 싶어요.)</font></p></li>
                        <li class="col-xs-12 col-sm-12 col-md-12"><p>좋은 사람<font size="3">(되고 싶어요.)</font></p></li>
                    </ul>
                </div><!--End home-slider -->
            </div><!--End message-box -->
        </div><!--End container -->
    </section><!--End header -->

    {% include 'ame_home/about.html' %}

    {% include 'ame_home/work.html' %}

    {% include 'ame_home/project.html' %}

    {% include 'ame_home/education.html' %}

    {% include 'ame_home/contact.html' %}

{% endblock main_content %}

{% block page_footer_script %}
     <script type="text/javascript">
        $(document).ready(function() {

        });
    </script>
{% endblock page_footer_script %}