{% extends 'ame_common/base.html' %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block base_title %}
        <title>Welcome My Portfolio Main Page</title>
    {% endblock base_title %}

    {# 페이지별 설정이 필요한 경우 사용한다. #}
    {% block page_css %}
    {% endblock page_css %}

    {% block page_style %}
    {% endblock page_style %}
</head>

<body>
{% block content %}
    <!--
        ==================================================
        Slider Section Start
        ================================================== -->
    <section id="hero-area" >
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="block wow fadeInUp" data-wow-delay=".3s">

                        <!-- Slider -->
                        <section class="cd-intro">
                            <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s" >
                                <span>안녕하세요. 저는 허윤이라고 합니다. 그리고 저는</span><br>
                                <span class="cd-words-wrapper">
                                    <b class="is-visible">DEVELOPER(이길 바라며)</b>
                                    <b>Backe-end 개발에 관심이 있고,</b>
                                    <b>어쩔 수 없이 Front-end 개발도 하게되네요.</b>
                                    <b>책 읽는 것과 운동하는 걸 좋아합니다.</b>
                                </span>
                            </h1>
                        </section> <!-- cd-intro -->
                        <!-- /.slider -->
                        <h2 class="wow fadeInUp animated" data-wow-delay=".6s" >
                            4년 정도 개발 관련된 일을 해왔습니다.<br><br>
                            Java Web 개발자로 시작했으나, 2년동안 C언어를 이용한 Embedded 개발자로 일을 했습니다.<br>
                            지금은 다시 제대로 된 Back-end 개발자가 되려고 노력 중입니다. <br><br>
                            자세한 저에 대한 것은 아래 내용을 참고하시면 됩니다.<br>
                        </h2>
{#                        <a class="btn-lines dark light wow fadeInUp animated smooth-scroll btn btn-default btn-green" data-wow-delay=".9s" href="#works" data-section="#works" >View Works</a>#}

                    </div>
                </div>
            </div>
        </div>
    </section><!--/#main-slider-->

    {% include 'ame_home/about.html' %}

    {% include 'ame_home/skill.html' %}

    {% include 'ame_home/portfolio.html' %}

    {% include 'ame_home/experience.html' %}

    {% include 'ame_home/education.html' %}

    {% include 'ame_home/contact.html' %}
{% endblock content %}
</body>
</html>