{% load staticfiles %}

<section id="portfolio">

    <div id="portfolio-header" class="text-center">
        <!--==== Portfolio Filters ====-->
        <div id="filter-works">
            <ul>
                <li class="active">
                    <a href="#" data-filter="*">All</a>
                </li>
                {% for company in companies %}
                    <li>
                        <a href="#" data-filter=".{{ company.name }}">{{ company.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div><!--End portfolio filters -->

    </div><!--End portfolio header -->

    <div class="container masonry-wrapper scrollimation fade-in">

        <div id="projects-container">
            <!-- ==============================================
            SINGLE PROJECT ITEM
            =============================================== -->
            <a class="project-item web-design" href="http://www.google.com"
               data-images="{% static 'assets/projects/project-slide.jpg' %}">
                <img class="img-responsive project-image" src="{% static 'assets/projects/project-thumb.jpg' %}"  alt=""><!--Project thumb -->
                <div class="hover-mask">
                    <h2 class="project-title">Clean &amp; Minimal</h2><!--Project Title -->
                    <p>google.com</p><!--Project Subtitle -->
                </div>
                <!--==== Project Preview HTML ====-->
                <div class="sr-only project-description">
                    <p class="clearfix">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.</p>
                    <img class="img-responsive img-center" src="{% static 'assets/projects/company-logo.png' %}"  alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.</p>
                    <p>Nam eget urna pellentesque nisl ultrices dapibus. Mauris accumsan vehicula nisl, sed tempus mauris facilisis eu. Donec a iaculis nisi, quis malesuada justo. Pellentesque ut enim sit amet ipsum dignissim egestas. Morbi tincidunt rhoncus urna eget placerat.</p>
                </div>

            </a>

            <a class="project-item web-design" href="http://www.google.com"
               data-images="{% static 'assets/projects/project-slide.jpg' %}">
                <img class="img-responsive project-image" src="{% static 'assets/projects/project-thumb.jpg' %}"  alt=""><!--Project thumb -->
                <div class="hover-mask">
                    <h2 class="project-title">문혜빈입니다.</h2><!--Project Title -->
                    <p>google.com</p><!--Project Subtitle -->
                </div>
                <!--==== Project Preview HTML ====-->
                <div class="sr-only project-description">
                    <p class="clearfix">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.</p>
                    <img class="img-responsive img-center" src="{% static 'assets/projects/company-logo.png' %}"  alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.</p>
                    <p>Nam eget urna pellentesque nisl ultrices dapibus. Mauris accumsan vehicula nisl, sed tempus mauris facilisis eu. Donec a iaculis nisi, quis malesuada justo. Pellentesque ut enim sit amet ipsum dignissim egestas. Morbi tincidunt rhoncus urna eget placerat.</p>
                </div>

            </a>

            {% for company in companies %}
                {% for project in company.projects %}
                    <a class="project-item {{ company.name }}" href="http://www.google.com"
                       data-images="{% static project.ui_img_url_0 %}">
                        <img class="img-responsive project-image" src="{% static company.logo_img_url %}"  alt=""><!--Project thumb -->
                        <div class="hover-mask">
                            <h2 class="project-title">{{ project.title }}</h2><!--Project Title -->
                            <p>{{ company.name }}</p><!--Project Subtitle -->
                        </div>
                        <!--==== Project Preview HTML ====-->
                        <div class="sr-only project-description">
                            <p class="clearfix">{{ project.what_do_i_0 }} {{ project.what_do_i_1 }}</p>
                            <ul>
                                <li>{{ project.language }}</li>
                                <li>{{ project.frontend }}</li>
                                <li>{{ project.backend }}</li>
                                <li>{{ project.database }}</li>
                                <li>{{ project.tools }}</li>
                            </ul>
                            {% for ui_img in project.ui_img_url %}
                                <img class="" src="{% static ui_img %}"  alt="">
                            {% endfor %}
                            {% for desc in project.descs %}
                                <p>{{ desc }}</p>
                            {% endfor %}
                        </div>
                    </a>
                {% endfor %}
            {% endfor %}
            <!-- ==============================================
            END PROJECT ITEM
            =============================================== -->
        </div><!-- End projects -->

    </div><!-- End container -->

    <!-- ==============================================
    PROJECT PREVIEW MODAL
    =============================================== -->
    <div id="project-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="left-col">
                        <img class="img-responsive" src="{% static 'assets/imac.png' %}" alt="">
                        <div class="loader"></div>
                        <div class="image-wrapper"></div>
                    </div>
                    <h1></h1>
                    <div class="project-descr"></div>
                    <div class="clearfix"></div>
                    <p class="text-center"><a class="btn btn-theme"><i class="fa fa-external-link"></i>Visit Website</a></p>
                </div><!-- End modal-body -->
            </div><!-- End modal-content -->
        </div><!-- End modal-dialog -->
    </div><!-- End modal -->

</section><!-- End portfolio section -->