{% load staticfiles %}

<section id="works">

    <div id="portfolio-header" class="text-center">

        <h1 class="section-title scrollimation scale-in">The <span>works</span> I am proud of<i class="fa fa-pencil"></i></h1>

        <!--==== Portfolio Filters ====-->
        <div id="filter-works">
            <ul>
                <li class="active">
                    <a href="#" data-filter="*">All</a>
                </li>
                <li>
                    <a href="#" data-filter=".web-design">Web Design</a>
                </li>
                <li>
                    <a href="#" data-filter=".icons">Icons</a>
                </li>
                <li>
                    <a href="#" data-filter=".ui-kits">UI Kits</a>
                </li>
            </ul>
        </div><!--End portfolio filters -->

    </div><!--End portfolio header -->

    <div class="container masonry-wrapper scrollimation fade-in">

        <div id="projects-container">

            <!-- ==============================================
            SINGLE PROJECT ITEM
            =============================================== -->
            <a class="project-item web-design" href="http://www.google.com" data-images="assets/projects/project-slide.jpg,assets/projects/project-slide.jpg,assets/projects/project-slide.jpg">

                <img class="img-responsive project-image" src="assets/projects/project-thumb.jpg"  alt=""><!--Project thumb -->

                <div class="hover-mask">
                    <h2 class="project-title">Clean &amp; Minimal</h2><!--Project Title -->
                    <p>google.com</p><!--Project Subtitle -->
                </div>

                <!--==== Project Preview HTML ====-->

                <div class="sr-only project-description">
                    <p class="clearfix">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.</p>
                    <img class="img-responsive img-center" src="assets/projects/company-logo.png"  alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.</p>
                    <p>Nam eget urna pellentesque nisl ultrices dapibus. Mauris accumsan vehicula nisl, sed tempus mauris facilisis eu. Donec a iaculis nisi, quis malesuada justo. Pellentesque ut enim sit amet ipsum dignissim egestas. Morbi tincidunt rhoncus urna eget placerat.</p>
                </div>

            </a>
            <!-- ==============================================
            END PROJECT ITEM
            =============================================== -->

            <a class="project-item icons ui-kits" href="#somelink" data-images="assets/projects/project-slide.jpg">

                <img class="img-responsive project-image" src="assets/projects/project-thumb.jpg" alt=""><!--Project thumb -->

                <div class="hover-mask">
                    <h2 class="project-title">Flat UI Kit</h2><!--Project Title -->
                    <p>microsoft.com</p><!--Project Subtitle -->
                </div>

                <!--==== Project Preview HTML ====-->

                <div class="sr-only project-description">
                    <p class="clearfix">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.</p>
                    <img class="img-responsive img-center" src="assets/projects/company-logo.png" alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu. Nam eget urna pellentesque nisl ultrices dapibus. Mauris accumsan vehicula nisl, sed tempus mauris facilisis eu. Donec a iaculis nisi, quis malesuada justo. Pellentesque ut enim sit amet ipsum dignissim egestas. Morbi tincidunt rhoncus urna eget placerat.</p>
                </div>

            </a><!--End Project Item -->

            <a class="project-item web-design ui-kits" href="#somelink" data-images="assets/projects/project-slide.jpg,assets/projects/project-slide.jpg,assets/projects/project-slide.jpg">

                <img class="img-responsive project-image" src="assets/projects/project-thumb.jpg"  alt=""><!--Project thumb -->

                <div class="hover-mask">
                    <h2 class="project-title">Singolo</h2><!--Project Title -->
                    <p>amazon.com</p><!--Project Subtitle -->
                </div>

                <!--==== Project Preview HTML ====-->

                <div class="sr-only project-description">
                    <p class="clearfix">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.</p>
                    <img class="img-responsive img-center" src="assets/projects/company-logo.png"  alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.</p>
                </div>

            </a><!--End Project Item -->

            <a class="project-item ui-kits" href="http://www.google.com" data-images="assets/projects/project-slide.jpg">

                <img class="img-responsive project-image" src="assets/projects/project-thumb.jpg"  alt=""><!--Project thumb -->

                <div class="hover-mask">
                    <h2 class="project-title">Chat UI Concept</h2><!--Project Title -->
                    <p>google.com</p><!--Project Subtitle -->
                </div>

                <!--==== Project Preview HTML ====-->

                <div class="sr-only project-description">
                    <p class="clearfix">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.</p>
                    <img class="img-responsive img-center" src="assets/projects/company-logo.png"  alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.</p>
                    <p>Nam eget urna pellentesque nisl ultrices dapibus. Mauris accumsan vehicula nisl, sed tempus mauris facilisis eu. Donec a iaculis nisi, quis malesuada justo. Pellentesque ut enim sit amet ipsum dignissim egestas. Morbi tincidunt rhoncus urna eget placerat.</p>
                </div>

            </a><!--End Project Item -->

            <a class="project-item icons" href="#somelink" data-images="assets/projects/project-slide.jpg">

                <img class="img-responsive project-image" src="assets/projects/project-thumb.jpg"  alt=""><!--Project thumb -->

                <div class="hover-mask">
                    <h2 class="project-title">Login Web Buttons</h2><!--Project Title -->
                    <p>microsoft.com</p><!--Project Subtitle -->
                </div>

                <!--==== Project Preview HTML ====-->

                <div class="sr-only project-description">
                    <p class="clearfix">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.</p>
                    <img class="img-responsive img-center" src="assets/projects/company-logo.png" alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu. Nam eget urna pellentesque nisl ultrices dapibus. Mauris accumsan vehicula nisl, sed tempus mauris facilisis eu. Donec a iaculis nisi, quis malesuada justo. Pellentesque ut enim sit amet ipsum dignissim egestas. Morbi tincidunt rhoncus urna eget placerat.</p>
                </div>

            </a><!--End Project Item -->

            <a class="project-item web-design" href="#somelink" data-images="assets/projects/project-slide.jpg,assets/projects/project-slide.jpg,assets/projects/project-slide.jpg">

                <img class="img-responsive project-image" src="assets/projects/project-thumb.jpg"  alt=""><!--Project thumb -->

                <div class="hover-mask">
                    <h2 class="project-title">LimeLight</h2><!--Project Title -->
                    <p>amazon.com</p><!--Project Subtitle -->
                </div>

                <!--==== Project Preview HTML ====-->

                <div class="sr-only project-description">
                    <p class="clearfix">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.</p>
                    <img class="img-responsive img-center" src="assets/projects/company-logo.png"  alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.</p>
                </div>

            </a><!--End Project Item -->

            <a class="project-item web-design" href="http://www.google.com" data-images="assets/projects/project-slide.jpg,assets/projects/project-slide.jpg,assets/projects/project-slide.jpg">

                <img class="img-responsive project-image" src="assets/projects/project-thumb.jpg"  alt=""><!--Project thumb -->

                <div class="hover-mask">
                    <h2 class="project-title">Organic</h2><!--Project Title -->
                    <p>google.com</p><!--Project Subtitle -->
                </div>

                <!--==== Project Preview HTML ====-->

                <div class="sr-only project-description">
                    <p class="clearfix">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.</p>
                    <img class="img-responsive img-center" src="assets/projects/company-logo.png"  alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.</p>
                    <p>Nam eget urna pellentesque nisl ultrices dapibus. Mauris accumsan vehicula nisl, sed tempus mauris facilisis eu. Donec a iaculis nisi, quis malesuada justo. Pellentesque ut enim sit amet ipsum dignissim egestas. Morbi tincidunt rhoncus urna eget placerat.</p>
                </div>

            </a><!--End Project Item -->

            <a class="project-item icons" href="#somelink" data-images="assets/projects/project-slide.jpg,assets/projects/project-slide.jpg,assets/projects/project-slide.jpg">

                <img class="img-responsive project-image" src="assets/projects/project-thumb.jpg"  alt=""><!--Project thumb -->

                <div class="hover-mask">
                    <h2 class="project-title">Social Media Icons</h2><!--Project Title -->
                    <p>microsoft.com</p><!--Project Subtitle -->
                </div>

                <!--==== Project Preview HTML ====-->

                <div class="sr-only project-description">
                    <p class="clearfix">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.</p>
                    <img class="img-responsive img-center" src="assets/projects/company-logo.png" alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu. Nam eget urna pellentesque nisl ultrices dapibus. Mauris accumsan vehicula nisl, sed tempus mauris facilisis eu. Donec a iaculis nisi, quis malesuada justo. Pellentesque ut enim sit amet ipsum dignissim egestas. Morbi tincidunt rhoncus urna eget placerat.</p>
                </div>

            </a><!--End Project Item -->

            <a class="project-item web-design" href="#somelink" data-images="assets/projects/project-slide.jpg,assets/projects/project-slide.jpg">

                <img class="img-responsive project-image" src="assets/projects/project-thumb.jpg" alt=""><!--Project thumb -->

                <div class="hover-mask">
                    <h2 class="project-title">Explore</h2><!--Project Title -->
                    <p>amazon.com</p><!--Project Subtitle -->
                </div>

                <!--==== Project Preview HTML ====-->

                <div class="sr-only project-description">
                    <p class="clearfix">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.</p>
                    <img class="img-responsive img-center" src="assets/projects/company-logo.png"  alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.</p>
                </div>

            </a><!--End Project Item -->

        </div><!-- End projects -->

    </div><!-- End container -->

    <!-- ==============================================
    PROJECT PREVIEW MODAL
    =============================================== -->
    <div id="project-modal" class="modal fade">

        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>

                <div class="modal-body">

                    <div class="left-col">
                        <img class="img-responsive" src="assets/imac.png" alt="">
                        <div class="loader"></div>
                        <div class="image-wrapper"></div>
                    </div>

                    <h1></h1>

                    <div class="project-descr"></div>

                    <div class="clearfix"></div>

                    <p class="text-center"><a class="btn btn-theme"><i class="fa fa-external-link"></i>Visit Website</a></p>

                </div><!-- End modal-body -->

            </div><!-- End modal-content -->

        </div><!-- End modal-dialog -->

    </div><!-- End modal -->

</section><!-- End portfolio section -->