{% load staticfiles %}

<!DOCTYPE html>
<html lang="ko">
<head>
    {% block base_meta %}
        <meta charset="utf-8">
        <title>Yoon's Portfolio Site</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% endblock base_meta %}

    {% block base_icon_and_css %}
        <link rel="shortcut icon" href="{% static 'assets/favicon.ico' %}">
        <link rel="apple-touch-icon" href="{% static 'assets/apple-touch-icon.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'assets/apple-touch-icon-72x72.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'assets/apple-touch-icon-114x114.png' %}">

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/flexslider.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/designr-theme-cyan.css' %}">
    {% endblock base_icon_and_css %}

    {% block base_font_and_js %}
        <link href='http://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900' rel='stylesheet' type='text/css'>

        <!--[if lt IE 9]>
            <script src="{% static 'js/respond.min.js' %}"></script>
        <![endif]-->
        <script type="text/javascript" src="{% static 'js/libs/modernizr.min.js' %}"></script>
    {% endblock base_font_and_js %}

    {# 페이지별 설정이 필요한 경우 사용한다. #}
    {% block page_css %}
    {% endblock page_css %}

    {% block page_style %}
    {% endblock page_style %}

</head>
  
<body data-spy="scroll" data-target="#main-nav" data-offset="200">

{#    <!--=== PAGE PRELOADER ===-->#}
{#    <div id="page-loader"><span class="page-loader-gif"></span></div>#}

    <!-- ==============================================
    NAV
    =============================================== -->
    <div id="main-nav" class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-nav">
                    <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <!-- ======= LOGO ========-->
                <a class="navbar-brand scrollto" href="#home">YOON<br><span>DEVELOPER(?)</span></a>
                <!-- <a class="navbar-brand scrollto ir-logo" href="#">JOHN DOE<br><span>UI Designer</span></a> -->
            </div>

            <div id="site-nav" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="sr-only"><a href="#home" class="scrollto">Home</a></li>
                    <li><a href="#about" class="scrollto">About Me</a></li>
                    <li><a href="#works" class="scrollto">Works</a></li>
                    <li><a href="#projects" class="scrollto">Projects</a></li>
                    <li><a href="#education" class="scrollto">Education</a></li>
                    <li><a href="#contact" class="scrollto">Contact Me</a></li>
                </ul>
            </div><!--End navbar-collapse -->
        </div><!--End container -->
    </div><!--End main-nav -->

    <!-- ==============================================
    MAIN CONTENT
    =============================================== -->
    {% block main_content %}
    {% endblock main_content %}


    <!-- ==============================================
    FOOTER
    =============================================== -->
    <footer id="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-8 left-col">
                    <h1 class="small-logo">YOON<br><span>DEVELOPER(?)</span></h1>
                    <ul class="footer-nav">
                        <li><a href="#home" class="scrollto">Home</a></li>
                        <li><a href="#about" class="scrollto">About Me</a></li>
                        <li><a href="#works" class="scrollto">Works</a></li>
                        <li><a href="#projects" class="scrollto">Projects</a></li>
                        <li><a href="#education" class="scrollto">Education</a></li>
                        <li><a href="#contact" class="scrollto">Contact Me</a></li>
                    </ul>
                    <p>&copy;Copyright 2016 / All Rights Reserved</p>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-4 right-col">
                    <h2>Who Am I?</h2>
                    <p>위의 소개를 보고 궁금하시면 연락주세요.</p>
                </div>
            </div><!-- End row -->
        </div><!-- End container -->
    </footer><!-- End footer -->

    {% block base_footer_script %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% static "js/libs/jquery-1.9.1.min.js" %}">\x3C/script>')</script>

        <script src="{% static 'js/libs/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery.scrollto.js' %}"></script>
        <script src="{% static 'js/jquery.flexslider.min.js' %}"></script>
        <script src="{% static 'js/twitterFetcher_min.js' %}"></script>
        <script src="{% static 'js/jquery.masonry.min.js' %}"></script>
        <script src="{% static 'js/waypoints.min.js' %}"></script>
        <script src="{% static 'js/jquery.easypiechart.min.js' %}"></script>
        <script src="{% static 'js/jquery.backstretch.min.js' %}"></script>
        <script src="{% static 'js/contact.js' %}"></script>
        <script src="{% static 'js/designr.js' %}"></script>
    {% endblock base_footer_script %}

    {% block page_footer_script %}
    {% endblock page_footer_script %}
</body>
	
</html>